<main>
  <section>
    <div *ngIf="openedProject; else noProject">
      <header class="c-header">
        <nav class="c-header__toolbar">
          <app-tab
            (click)="openTab(tab)"
            (close)="onCloseTab(tab)"
            *ngFor="let tab of tabs"
            [fileName]="tab.file.name"
            [active]="tabActive.file.id === tab.file.id"
          ></app-tab>
        </nav>
      </header>
    </div>

    <ng-template #noProject>
      <div>
        <form>
          <input
            type="file"
            webkitdirectory
            mozdirectory
            (change)="onUploadFile($event)"
          />
        </form>
      </div>
    </ng-template>
  </section>

  <div class="c-opened-file" *ngIf="openedFile">
    <div class="c-opened-file__counter">
      <div *ngFor="let count of counter(openedFile.lineCount); let i = index">
        {{ i + 1 }}
      </div>
    </div>

    <pre
      class="c-opened-file__content"
      contenteditable="true"
      (input)="onChangeFile($event)"
    >
      <code
        class="c-opened-file__content-file"
        [innerHTML]="openedFile.fileContent">
      </code>
    </pre>
  </div>

  <aside *ngIf="files" class="c-aside">
    <div
      class="c-aside__content"
      [style.min-width]="toggledMenu === 'out' ? '200px' : '80px'"
    >
      <div
        [style.display]="itemsTop ? 'flex' : 'none'"
        class="c-aside__options-top"
      >
        <div>
          <div class="c-aside__logo"></div>
          <mat-icon
            class="c-aside__explorer"
            svgIcon="folder"
            (click)="onOpenExplorer()"
          ></mat-icon>
        </div>
        <div class="c-aside__config"></div>
      </div>
      <div
        *ngIf="files"
        [style.display]="itemsTop ? 'none' : 'flex'"
        class="c-aside__project"
      >
        <app-folder
          (fileClick)="onClickFile($event)"
          [folder]="hierarchy[rootFolter]"
          [isRoot]="true"
          [openedFile]="openedFile"
        ></app-folder>
      </div>
      <div
        [style.display]="itemsTop ? 'none' : 'flex'"
        class="c-aside__options-bottom"
      >
        <mat-icon
          class="c-aside__explorer"
          [class.c-aside__explorer--bottom]="!itemsTop"
          svgIcon="folder"
          (click)="onOpenExplorer()"
        ></mat-icon>
        <div class="c-aside__config"></div>
      </div>
    </div>
  </aside>
</main>
