// @import '~highlight.js/styles/github.css'

.c-header
  &__toolbar
    max-width: 95%
    overflow-x: auto
    background-color: #ACADBC
    display: flex

    &::-webkit-scrollbar
      width: 3px
      height: 3px


    &::-webkit-scrollbar-track
      background: #2C2B3C
      width: 3px
      height: 3px


    &::-webkit-scrollbar-thumb
      border-radius: 10px
      width: 3px
      height: 3px
      background: #FBC800

    // &::-webkit-scrollbar-track
    //   width: 3px
    //   height: 3px
    //   background: #FBC800

.c-opened-file
  display: flex

  &__counter
    flex-grow: 0
    display: flex
    flex-direction: column
    color: #ACADBC
    border-right: 1px solid #ACADBC
    padding: 0 6px
    margin-right: 12px

  &__content
    display: flex
    flex-direction: column
    outline: none
    width: 100%

    &-file
      color: #ACADBC

.c-aside
  position: absolute
  right: 0
  top: 0
  bottom: 0
  background: #191517
  text-align: center

  &__content
    position: relative
    display: flex
    height: 100%
    flex-direction: column
    align-items: center
    justify-content: space-between
    min-width: 80px

  &__project
    display: flex
    text-align: start
    width: 100%
    color: #ACADBC
    flex-direction: column

    &-file
      display: flex
      align-items: center
      justify-content: center
      color: white
      margin: 3px 0
      padding: 3px 0

      &--active
        border-top: 1px solid #FBC800
        border-bottom: 1px solid #FBC800


  &__options-top
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    height: 100%

  &__options-bottom
    position: relative
    display: flex
    height: 100%
    align-items: flex-end
    padding-bottom: 24px


  &__logo
    background: #6E7E85
    padding: 24px
    margin-bottom: 42px
    margin-top: 24px
    border-radius: 8px

  &__explorer
    // padding: 24px
    margin-bottom: 42px
    margin-top: 24px
    // border-radius: 100px
    fill: white
    width: 40px
    height: 40px

    &--bottom
      margin-right: 12px

  &__config
    background: #6E7E85
    padding: 24px
    bottom: 0
    margin-bottom: 42px
    margin-top: 24px
    border-radius: 100px


::ng-deep
  .hljs-tag, .hljs-name, .hljs-attribute
    color: #F06543
  .hljs-number
    color: #ACADBC
  .hljs-keyword, .hljs-selector-tag, .hljs-subst
    color: #F06543
