<div>
  <div *ngIf="folderKeys && folderKeys.length > 0">
    <div *ngFor="let folderName of folderKeys">
      <div *ngIf="folder.children.hasOwnProperty(folderName)">
        <div style="display: flex;">
          {{ folder.children[folderName].name }}
          <span (click)="toggled = !toggled">></span>
        </div>

        <div *ngIf="!toggled" style="margin-left: 12px;">
          <app-folder
            [isRoot]="true"
            [folder]="folder.children[folderName]"
          ></app-folder>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!toggled">
    <div
      (click)="onClickFile(file)"
      *ngFor="let file of folder.files"
      [class.c-folder__file-active]="openedFile == file"
    >
      {{ file.name }}
    </div>
  </div>
</div>
